.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  min-height: 300px;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  color: var(--color-bg);
  font-size: 300px;
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 0 white, 0 -2px white, -2px 0 white, 0 2px white;
  opacity: 0.3;
}

@media screen and (max-width: 992px) {
  .list {
    gap: 20px;
  }
  .number {
    font-size: 200px;
  }
}

@media screen and (max-width: 768px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
    justify-content: start;
    gap: 0;
  }
  .item {
    gap: 40px;
  }

  .item:nth-child(2n) {
    flex-direction: row-reverse;
  }

  .number {
    width: 180px;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 768px) {
  .number {
    font-size: 130px;
  }
}
