.title {
  margin-bottom: 40px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 25px;
  background: rgba(71, 71, 71, 0.23);
  border-radius: 16px;
  border: 2px solid rgba(71, 71, 71, 0.23);
}
.iconbox {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.name {
  font-size: 22px;
  font-weight: 400;
}

.text {
  font-size: 16px;
}

@media screen and (max-width: 992px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 600px) {
}